{% extends layout ?: "@PayumCore/layout.html.twig" %}

{% block payum_body %}
    {{ parent() }}

    <!DOCTYPE html>
    <html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <title>Pagos Pack&amp;Pack</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
        <link rel="stylesheet" href="{{asset('stylepagos.css')}}">
    </head>
    <body>
        <div style="border-radius:5px;" class="container text-center formulario">
            <h1 class="tituloPrincipal">Pack&amp;Pack</h1>
            <img class="logo" src="{{asset('img/mejorLogo.png')}}" alt="">
            <h3 class="titulo">Realiza tu pago</h3>
            <div class="row">
                <div class="col-xs-6 col-xs-offset-3 fondoFormulario">

                    <form action="" method="POST" id="payment-form" class="form-inline">
                        <div class="row" style="color: white; padding: 0 0 17px;">
                            <span class="payment-errors"></span>
                        </div>
                        <div class="row" style="padding-bottom: 27px;">
                            <div class="col-sm-7 col-xs-12 text-right">

                                <div class="row">
                                    <div class="input-group" style="margin-bottom: 10px;">
                                        <span class="input-group-addon"><span class="glyphicon glyphicon-credit-card"></span></span>
                                        <input type="text" class="form-control" placeholder="Numero de tarjeta" size="20" data-stripe="number">
                                    </div>


                                    <div class="input-group">
                                        <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                                        <input type="text" class="form-control" placeholder="CVC" data-stripe="cvc">
                                    </div>
                                </div>


                                <div class="row">
                                    <div style="margin-top:10px;">
                                        <label for="exampleSelect1">
                                            <p style="color:yellow">Vencimiento</p>
                                        </label>
                                        <select class="form-control" id="exampleSelect1" data-stripe="exp-month">
                                            <option>Mes</option>
                                            <option>01</option>
                                            <option>02</option>
                                            <option>03</option>
                                            <option>04</option>
                                            <option>05</option>
                                            <option>06</option>
                                            <option>07</option>
                                            <option>08</option>
                                            <option>09</option>
                                            <option>10</option>
                                            <option>11</option>
                                            <option>12</option>
                                        </select> /
                                        <select class="form-control" id="exampleSelect1"  data-stripe="exp-year">
                                            <option>Año</option>
                                            <option>2016</option>
                                            <option>2017</option>
                                            <option>2018</option>
                                            <option>2019</option>
                                            <option>2020</option>
                                            <option>2021</option>
                                            <option>2022</option>
                                            <option>2023</option>
                                            <option>2024</option>
                                            <option>2025</option>
                                            <option>2026</option>
                                            <option>2027</option>
                                            <option>2028</option>
                                            <option>2029</option>
                                            <option>2030</option>
                                            <option>2031</option>
                                            <option>2032</option>
                                            <option>2033</option>
                                            <option>2034</option>
                                            <option>2035</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="row">
                                    <button style="margin-top:42px" type="submit" class="btn btn-success completarpago">Completar Pago</button>
                                </div>
                            </div>
                            <div class="col-sm-5 col-xs-12" style="padding-right:0;">
                                <div class="envioTitulo">
                                    <h4>Tu envío</h4>
                                </div>
                                <div class="envioDatos">
                                    <table style="margin-left: auto; margin-right: auto; text-align: right; width:100%">
                                        <tr>
                                            <td style="font-weight:bold">Origen:</td>
                                            <td>{{model.metadata.origen}}</td>
                                        </tr>
                                        <tr>
                                            <td style="font-weight:bold">Destino:</td>
                                            <td>{{model.metadata.destino}}</td>
                                        </tr>
                                        <tr>
                                            <td style="font-weight:bold">Fecha:</td>
                                            <td>{{model.metadata.fecha}}</td>
                                        </tr>
                                        <tr>
                                            <td style="font-weight:bold">Paquetes:</td>
                                            <td>{{model.metadata.paquetes}}</td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="envioTotal">
                                    <p><strong>Total:</strong><span style="font-size:20px; font-weight:bold;"> ${{model.metadata.total}}</span><span> {{model.currency}}</span></p>
                                </div>
                            </div>
                        </div>
                    </form>


                </div>
            </div>
        </div>
        <div style="height:100%; position: absolute; width:100%; top:0;" class="container-fluid">
            <div style="height:100%" class="row">
                <div class="fondoIzquierda col-sm-6"></div>
                <div class="fondoDerecha col-sm-6"></div>
            </div>
        </div>

    </body>
    </html>

{% endblock %}

{% block payum_vendor_javascripts %}
    {{ parent() }}

    <!-- The required Stripe lib -->
    <script type="text/javascript" src="https://js.stripe.com/v2/"></script>

    <!-- jQuery is used only for this example; it isn't required to use Stripe -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
{% endblock %}

{% block payum_javascripts %}
    {{ parent() }}

    <script type="text/javascript">


        console.log({{ model.metadata|json_encode|raw }});

        jQuery(function($) {
            $('#payment-form').submit(function(e) {
                var $form = $(this);

                // Disable the submit button to prevent repeated clicks
                $form.find('button').prop('disabled', true);

                // This identifies your website in the createToken call below
                Stripe.setPublishableKey({{ publishable_key|json_encode|raw }});

                Stripe.card.createToken($form, stripeResponseHandler);

                // Prevent the form from submitting with the default action
                return false;
            });

            var stripeResponseHandler = function(status, response) {
                var $form = $('#payment-form');

                if (response.error) {
                    // Show the errors on the form
                    $form.find('.payment-errors').text(response.error.message);
                    $form.find('button').prop('disabled', false);
                } else {
                    // token contains id, last4, and card type
                    var token = response.id;
                    // Insert the token into the form so it gets submitted to the server
                    $form.append($('<input type="hidden" name="stripeToken" />').val(token));
                    // and re-submit
                    $form.get(0).submit();
                }
            };
        });
    </script>

{% endblock %}